.container {
  padding: 0 0.5rem;
}

.main {
  padding: 0.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  height: auto;
}

.item_checkout_section {
  font-family: "AvenirNext-Medium";
  color: #575757;
}

.pricedetail_border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.item_pricedetail p {
  padding: 0;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.totalprice {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 20px 10px 0 10px;
  color: #2468b2;
}

.promocode {
  margin: 0px 10px;
  text-align: right;
  font-size: 0.6rem;
}

.checkoutbutton_section {
  text-align: center;
  margin: 15px 10px 0 10px;
  width: 90vw;
  font-family: "AvenirNext-Medium";
}

.checkoutbutton_section button {
  width: 100%;
  height: 40px;
  background-color: #21ac6b;
  color: #fff;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.checkoutbutton_section img {
  width: 12px;
  height: 12px;
}

.checkoutbutton_section p {
  font-size: 0.8rem;
  color: #575757;
}

@media (min-width: 768px) {
  .main {
    margin: 1rem 2rem;
  }

  .cart {
    min-width: 100%;
  }

  .pricedetail_border {
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
  }

  .item_pricedetail {
    width: 45vw;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  .totalprice_section {
    margin-top: -10px;
    width: 45vw;
  }

  .promocode {
    display: none;
  }

  .checkout_desktop {
    display: flex;
    flex: 1;
    border-top: 1px solid #2468b2;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .item_checkout_section {
    margin-right: 2.5vw;
  }

  .checkoutbutton_section {
    margin: 40px 0 0 2.5vw;
    width: 38vw;
  }

  .checkoutbutton_section button {
    margin-bottom: 10px;
  }

  .checkoutbutton_section p {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  .item_pricedetail p {
    font-size: 1rem;
  }

  .checkoutbutton_section {
    width: 42.5vw;
  }

  .checkoutbutton_section button {
    height: 50px;
    font-size: 1rem;
  }

  .checkoutbutton_section img {
    width: 16px;
    height: 16px;
  }

  .checkoutbutton_section p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .item_pricedetail p {
    font-size: 1.3rem;
  }

  .checkoutbutton_section button {
    height: 60px;
    font-size: 1.3rem;
  }

  .checkoutbutton_section p {
    font-size: 1.3rem;
  }
}
